.col-sm-6A {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}
input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 5px;
    font-size: 12px;
    color: #b8b8b8;
}
.button-wrap {
    position: relative;
}
.button-A {
    display: inline-block;
    background-color: #344085;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}
.button:hover {
    background-color: #2c4985;
}